@import "tailwindcss";

@theme {
    /* PRIMARY */
    --color-primary: #1e3a8a;
    --color-primary-hover: #172554;

    /* GIG */
    --color-gig: #d44d0a;
    --color-gig-hover: #a83808;

    /* COMMUNITY */
    --color-community: #059669;
    --color-community-hover: #047857;

    /* BG */
    --color-background: #f8fafc;
    --color-surface: #ffffff;

    /* TEXT */
    --color-text-main: #111827;
    --color-text-muted: #4b5563;

    /* FONTS */
    --font-sans: var(--font-jakarta), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
    body {
        background-color: var(--color-background);
        color: var(--color-text-main);
        text-rendering: optimizeLegibility;
    }
}

@utility px-default {
    @apply px-4 md:px-8 lg:px-12 xl:px-20;
}
